.titlebar {
  height: 44px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr max-content max-content max-content;
  align-items: center;
  background: #0099FF;
  color: white;
  /* color: #333333; */
  user-select: none;
}
.title {
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
}
.setting-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 30px;
  margin-right: 10px;
}
.setting-button:hover {
  background: #015c993c;
  /* background: #3b3b3b; */
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  width: 34px;
  height: 30px;
}
.titlebar-button:hover {
  background: #015c993c;
  /* background: #3b3b3b; */
}
.titlebar-button:nth-child(4):hover {
  background: #da3d3d;
}
.titlebar-button img {
  filter: invert(100%);
}